/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Outfit:wght@400;700&display=swap');

/* other css files imports */
@import url("sections/header.css");


/* CSS Variables for reusability across all files */
:root {
    --primary-color: #b1454a;
    --secondary-color: #121212;

    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500:#555555;
    --gray-100:#888888;

    --color-white: #fff;
    --color-creamson: #fff0de;
}

*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
}